mat-card {
    margin: 15px auto;
}
.available {
    color: rgb(0, 255, 0);
}
.not-available {
    color: red;
}

mat-card-title > span {
    float: right;
}
mat-card-actions {
    display: flex;
    margin-bottom: 0 !important;
}
.spacer {
    flex: 1 1 auto;
}
img {
    height: 150px;
    margin-right: 10px;
}
mat-card-content {
    display: flex;
}
mat-card-content > span {
    font-size: 20px;
}