<mat-card *ngFor='let room of rooms'>
    <mat-card-title><span>Room #{{room.number}}</span></mat-card-title>
    <mat-card-subtitle>
        <span *ngIf='room.available' class="available">Room available</span>
        <span *ngIf='!room.available' class="not-available">Room not available</span>
    </mat-card-subtitle>
    <mat-card-content>{{room.beds}}</mat-card-content>
    <mat-card-actions>
        <span class="spacer"></span>
        <button mat-stroked-button color='primary' [disabled]='!room.available'>BOOK THIS ROOM</button>
    </mat-card-actions>
</mat-card>