<mat-card>
    <form (submit)='onSubmit(newClientForm)' #newClientForm='ngForm'>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name='name' ngModel required #name='ngModel'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput name='surname' ngModel required #surname='ngModel'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name='email' ngModel required #email='ngModel'>
        </mat-form-field>
        <div class="flex">
            <span></span>
            <button mat-raised-button color='primary' type='submit'>MAKE RESERVATION</button>
        </div>
        
    </form>
</mat-card>