<mat-card id="main">
    <mat-card id="client">
        <mat-card-title><span>{{client.name}} {{client.surname}}</span></mat-card-title>
        <mat-card-subtitle>email: {{client.email}}</mat-card-subtitle>
    </mat-card>
    <div class="spacer"></div>
    <mat-card id="room">
        <mat-card-title><span>Room #{{room.number}}</span></mat-card-title>
        <mat-card-content><img src="assets/img/{{(room.id%3)}}.jpg" alt="room picture"></mat-card-content>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content><p>Number of beds: <b>{{room.beds}}</b></p></mat-card-content>
    </mat-card>
    <button mat-raised-button color='primary' (click)='confirmReservation()'>CONFIRM RESERVATION</button>
</mat-card>